
#toolBar {
    -fx-width: 50px;
    -fx-height: 100px;
    -fx-border-color: #C0C0C0;
    -fx-border-style: solid;
    -fx-border-width: 0 2px 0 0;
}

.tool-bar-button {
    -fx-padding: 10px 30px;
}

.editor-section {
    -fx-padding: 10px;
}

.primitives-container, .canvas-buttons-container, .project-buttons-container {
    -fx-padding: 10px 0 10px 0;
}

.toolbar-label {
    padding: 30px 0 0 0;
}